/**
 * Post Thumb settings
 */

.post-wrapper {
  margin-left: 48px;
  margin-right: 48px;
}

.post-thumb {
  width: 240px;
  display: inline-block;
  margin-top: 48px;
  margin-bottom: 48px;
}

/**
 * Post Description settings
 */

 .post-desc {
   vertical-align: middle;
   display: inline-block;
   margin-left: 32px;
 }