<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="col-md-12">
      <div class="col-md-4 col-md-offset-4" style="text-align: center;">
        <ul class="contact-list">
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
            {%- include social.html -%}
        </ul>
      </div>
<!-- 
      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div> -->
<!-- 
      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div> -->
    </div>

  </div>

</footer>
