@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Lato", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$title-font-family: "Oswald", sans-serif;
$title-font-size:   32px !default;
$title-font-weight: 500 !default;
$title-line-height: 1.5 !default;

$spacing-unit:     24px !default;

$white:          #fff;
$black:          #212121;
$green:          #4CAF50;
$green-dark:     #388E3C;
$green-lightest: #C8E6C9;
$yellow:         #FFC107;
$grey-dark:      #757575;

$text-color:       $black !default;
$text-color-light: $white !default;
$background-color: #edeeed !default;
$brand-color:      $green !default;
$brand-color-dark: $green-dark !default;
$brand-color-light:$green-lightest !default;
$accent-color:     $yellow !default;
$secondary-text-color: $grey-dark !default;

$grey-color:       #bdbdbd !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    1000px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/main"
;
